# dependencies
node_modules

# next
.next
out

# env
.env
.env.local
.env.production

# prisma
*.db
*.db-journal

# hardhat
artifacts
cache
typechain-types

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vscode
.vscode

# misc
.DS_Store
coverage